.main-title{
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 50px;
}
.footer-title{
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
}
.let-ticket-number{
    color: blue;
    font-size:20px;
}
#ticket-container {
    display: flex;
    flex-wrap: wrap;
  }
  .ticket {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }

  .red {
    background-color: red;
    color: white;
  }